---
import Layout from "../layouts/Layout.astro";
import data from "../data/blog.json";
import Card from "../components/Card.astro";
---

<Layout
  title="Blogs posts and articles written by Trust Jamin"
  description="Explore technical articles and blog post crafted by Trust Jamin"
  keywords="technology insights, programming articles, software development blog,web development, serverless technologies, community management, DevOps,developer perspectives,TypeScript and Nodejs, software engineering insights."
  image="/blog.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1>Articles by Jamin</h1>
        {
          data.map((post) => (
            <Card
              href={post.link}
              title={post.title}
              description={post.description}
              date={post.date}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
