---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs posts and articles written by Trust Jamin">
  <section>
    <div class="container">
      <div class="content">
        <h2>My blogs</h2>

      </div>
    </div>
  </section>
</Layout>

<style>
</style>
