---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import go from '../images/go.svg';
import linkedIn from '../images/linkedin.svg';
import x from '../images/x.svg';
import github from '../images/github.svg';
import mail from '../images/mail.svg';
---

<Layout
  title="Trust Jamin"
  description="Trust Jamin is a software engineer who is devoted to making the web easily accessible for everyone. here you'll find some of his previous projects,technical articles, community management endeavors,involvments in open source projects and pieces of information about him."
  keywords="code contributions,developer advocate, open source collaboration,technical Writing, community engagement,problem solver,software development,developer-communities, DevRel"
  image="/home.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1><span>Hey 👋🏼, I'm</span> Jamin</h1>
        <p class="intro">
          software engineer deeply interested in bridging connections between
          developers and state-of-the-art technology. I build <a
            href="/projects#Engineering Projects">products</a
          > , and write <a href="/blog">technical articles</a>. In my free time
          , you can find me contributing to <a
            href="http://github.com/0xJamin"
            target="_blank"
            rel="noopener noreferrer">open-source</a
          > projects or developing <a href="/projects#Engineering Projects"
            >solutions</a
          > for challenges I have previously encountered.
        </p>
        <p>
          Presently, I’m learning GoLang <Image
            src={go}
            alt="Go Icon"
            class="goLang"
          /> and I’m surprised at its inherent simplicity and remarkable
          performance as a programming language. As you must have possibly
          guessed, this portfolio is still a WIP. 🚧
        </p>
        <p class="socials">
          <a
            href="http://github.com/0xJamin"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 21.027V18.157C15.0375 17.6801 14.9731 17.2008 14.811 16.7508C14.6489 16.3008 14.3929 15.8904 14.06 15.547C17.2 15.197 20.5 14.007 20.5 8.54698C20.4997 7.1508 19.9627 5.80817 19 4.79698C19.4559 3.57548 19.4236 2.22533 18.91 1.02698C18.91 1.02698 17.73 0.676976 15 2.50698C12.708 1.8858 10.292 1.8858 8 2.50698C5.27 0.676976 4.09 1.02698 4.09 1.02698C3.57638 2.22533 3.54414 3.57548 4 4.79698C3.03013 5.81568 2.49252 7.17044 2.5 8.57698C2.5 13.997 5.8 15.187 8.94 15.577C8.611 15.9169 8.35726 16.3224 8.19531 16.7669C8.03335 17.2114 7.96681 17.685 8 18.157V21.027"
                stroke="#222222"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8 19.027C5 20 2.5 19.027 1 16.027"
                stroke="#222222"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            href="http://x.com/0xJamin"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image src={x} alt="Twitter Icon" class="" />
          </a>
          <a
            href="http://linkedin.com/0xjamin"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image src={linkedIn} alt="LinkedIn Icon" class="" />
          </a>
          <a
            href="mailto:hellotsjamin"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image src={mail} alt="Email Icon" class="" />
          </a>
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  h1 {
    font-size: 3rem;
  }
  .goLang {
    vertical-align: middle;
  }
  .socials {
    margin-top: 50px;
  }
  .socials a {
    border: none;
    vertical-align: middle;
  }
  .socials a:not(:last-child) {
    margin-right: 20px;
  }
</style>
